<%- include("partial/head",{header : 'Hotel Reservation'}) %>
<h1>Welcome to Movie Application</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae facere reiciendis nobis perferendis
voluptatum maxime officiis nulla libero, nihil labore cupiditate laudantium molestias facilis repellendus adipisci
cumque impedit perspiciatis!
<%- include("partial/foot") %>