<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Hotel Reservation</title>
</head>
<body>
    <center>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email :</label><br>
        <input type="email" name="email" id="email" placeholder="example@email.com"><br>
        <label for="password">Password :</label><br>
        <input type="password" name="password" id="password" placeholder="type your password here"><br>
        <button type="submit">Login</button>
    </form>
    <p>Need an Account? <a href="/signup">SignUp</a> here!</p>
    </center>
</body>
</html>