<%- include("partial/head",{header : 'My Profile'}) %>
    <img src="<%= url %>" alt="QR" width="300" height="300"><br>
    <button type="button" onclick="window.location.href='/order'">Back</button>
<%- include("partial/foot") %>