<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Application</title>
</head>

<body>
  <center>
  <header>
    <a href="/">Home</a> ||
    <a href="/list">List</a> ||
    <a href="/profile">Profile</a> ||
  <% if(role === 'admin'){ %>
    <a href="/checkin">Checkin</a> ||
    <a href="/checkout">Checkout</a> ||
  <% }else if(role === 'user'){ %>
    <a href="/order">Order</a> ||
  <% } %>
    <a href="/logout">Logout</a>
    <h2><%= header %> </h2>
    <hr>
  </header>